.customer { }
.customer .transparent { display: inline-block; padding: 1em; background: url(../img/transparent.png) repeat; border: 1px solid #aaa; }
.customer .logo { width: 10em; height: 6.67em; background: center no-repeat; background-size: contain }
