/* logo */
.customer .transparent { display: inline-block; margin: 0 0 1.1em; background: url(../img/transparent.png) repeat; border: 1px solid #aaa; }
.customer .transparent img { display: block; height: 10em; }
