/* table */
.projects .hours, .projects .value { text-align: right; }
.projects .agreement { background-image: url(../img/project/agreement.png); }
.projects .finished { background-image: url(../img/project/finished.png); }
.projects .deadline { background-image: url(../img/project/deadline.png); }
