/* buttons */
.project .actions { background: #444; margin: 1em -1.5em -1.5em; padding: 1em 1.5em 1.5em; }
.project .actions .button { vertical-align: top; }

/* form */
input[type=date] { display: block; }
input[type=checkbox] { margin-bottom: 0; }

/* message */
.project .message { margin: 1.5em -1.5em -1.5em; }
