/* general */
body { font-size: 10px; margin: 0; padding: 8em 0 0; font-family: 'Open Sans', sans-serif; }
section { position: relative; }
article { position: relative; font-size: 1.5em; }

/* navigation */
nav { position: fixed; top: 0; width: 100%; /* background: -webkit-linear-gradient(top, #2a2a2a, #1a1a1a); */ background: -webkit-linear-gradient(top, #E4E4E4, #B9B9B9); box-shadow: 0 0 1.2em rgba(0, 0, 0, .5); z-index: 2; }
nav a { font-size: 1.5em; display: inline-block; padding: .95em 1em 1.05em; /* color: #fff; */ color: #606060; }
nav a:hover { border-bottom: none; }

/* text */
h1:first-child { margin-top: 0; }
h1 { font-size: 2.00em; color: #444; }
h2 { font-size: 1.65em; color: #666; }
a { color: #07c; text-decoration: none; }
a:hover { border-bottom: 1px solid; }

/* input */
input, a.button { display: inline-block; padding: .5em; font-size: .9em; font-family: Arial, sans-serif; border: 1px solid #aaa; }
input[type=email], input[type=password], select, textarea, a.button { padding: .5em; background: #fff; border: 1px solid #aaa; }
input[type=submit], input[type=button], a.button { color: #000; text-decoration: none; background: #ddd; cursor: pointer; }

/* elements */
.message { padding: .5em; background: rgba(50, 200, 50, 0.2); border: 2px solid rgb(50, 200, 50); }

/* style */
body { background: #173244 url(../img/shine.png) center no-repeat; }
/* body:after { content:''; display: block; position: absolute; left: 50%; top: 50%; width: 0; height: 0; box-shadow: 0 0 100em 25em rgba(117, 177, 206, .5); } */
.content { width: 60%; margin: 3em auto; padding: 1.5em; background: #eee url(../img/noise.png); border-radius: .5em; box-shadow: 0 0 1em rgba(0, 0, 0, .5); z-index: 1; }
