/* general */
body { font-size: 10px; margin: 0; padding: 8em 0 0; font-family: 'Open Sans', sans-serif; }
section { position: relative; }
.center { text-align: center; }

/* style */
body { background: #173244 url(../img/shine.png) center no-repeat fixed; }
.content { position: relative; display: block; font-size: 1.5em; width: 60%; margin: 3em auto; padding: 1.5em; background: #eee; border-radius: .5em; box-shadow: 0 0 1em rgba(0, 0, 0, .5); z-index: 1; }

/* navigation */
nav { position: fixed; top: 0; width: 100%; background: -webkit-linear-gradient(top, #F1F1F1, #C9C9C9); -moz-linear-gradient(top, #F1F1F1, #C9C9C9); box-shadow: 0 0 1.2em rgba(0, 0, 0, .5); z-index: 2; }
nav a { font-size: 1.5em; display: inline-block; padding: .95em 1em 1.05em; color: #606060; }
nav a:hover { border-bottom: none; }

/* text */
h1:first-child { margin-top: 0; }
h1 { font-size: 2.00em; color: #444; }
h2 { font-size: 1.65em; color: #666; }
a { color: #07c; text-decoration: none; }
a:hover { border-bottom: 1px solid; }

/* input */
input, select, textarea, a.button { display: inline-block; margin: 0 0 1em; padding: .5em; font-size: .9em; font-family: Arial, sans-serif; border: 1px solid #aaa; }
input[type=text], input[type=password], input[type=email], input[type=url], select, textarea { box-sizing: border-box; width: 100%; padding: .5em; background: #fff; border: 1px solid #aaa; }
input[type=submit], input[type=button], a.button { color: #000; text-decoration: none; background: #ddd; cursor: pointer; }
label { display: inline-block; width: 100%; padding: 0 0 .5em; }
textarea { resize: vertical; }

.button.primary { font-size: 1.2em; margin: 2em 0 1em; padding: .5em 1em; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, .25); background: -webkit-linear-gradient(top, #4689BE, #2A5572); -moz-linear-gradient(top, #4689BE, #2A5572); border-color: transparent rgba(0, 0, 0, .25) rgba(0, 0, 0, .4); border-radius: .2em; box-shadow: inset 0 1px 1px rgba(255, 255, 255, .3), 0 1px 2px rgba(0, 0, 0, .05); transition: all .1s linear; }
.button.primary:hover { background: -webkit-linear-gradient(top, #3A72A7, #2A5572); -moz-linear-gradient(top, #3A72A7, #2A5572); box-shadow: inset 0 1px 1px rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05); }

/* message */
.message { padding: .5em; font-family: monospace; white-space: pre; overflow: auto; background-color: rgba(0, 0, 0, .2); border: 2px solid rgb(0, 0, 0); }
.message.success { background-color: rgba(50, 200, 50, 0.2); border-color: rgb(50, 200, 50); }
.message.error { background-color: rgba(200, 50, 50, 0.2); border-color: rgb(200, 50, 50); }
