/* layout */
.test {  }

/* form */
.test label { display: inline-block; width: 100%; padding: 0 0 .5em; }
.test input, .test textarea, .test select { box-sizing: border-box; width: 100%; margin: 0 0 1em; }
.test textarea { resize: vertical; }

/* monospace font */
.test input[type=text], .test textarea, .test pre { font-family: monospace; }
.test pre { margin: -1em 0 0; padding: 1em 0 .5em; overflow: auto; }
