{% load staticfiles %}
<html>
<head>
	<title>Invoice Pad</title>
	<script data-main="{% static "js/main" %}" src="{% static "lib/require-2.1.11/require.js" %}"></script>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
	<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
</head>
<body buttons>
	<nav class="menu" current>
		<a href="/#/">Dashboard</a>
		<a href="/#/customer">Customers</a>
		<a href="/#/project">Projects</a>
		<a href="/#/invoice">Invoices</a>
		<a href="/#/console">Console</a>
	</nav>
	<div ng-view class="content">
		<div class="loading"></div>
	</div>
</body>
</html>
