<section class="customer" arrows="{on: 'input', down: 'parent nextAll find input first', up: 'parent prevAll find input last', mouse: false}">
	<h1>{{ model.name }}</h1>

	<h2>General</h2>
	<label>
		Name
		<input ng-model="model.name" type="text" autofocus/>
	</label>
	<label>
		Full name
		<input ng-model="model.fullname" type="text"/>
	</label>
	<label>
		Email address
		<input ng-model="model.mail" type="email"/>
	</label>
	<label>
		Website
		<input ng-model="model.website" type="url"/>
	</label>

	<h2>Address</h2>
	<label>
		Street and number
		<input ng-model="model.address1" type="text"/>
	</label>
	<label>
		Postal code and city
		<input ng-model="model.address2" type="text"/>
	</label>
	<label>
		State or nation
		<input ng-model="model.address3" type="text"/>
	</label>

	<h2>Notes</h2>
	<textarea ng-model="model.notes" rows="7"></textarea>

	<h2>Logo</h2>
	<label>
		URL to fetch new image
		<input ng-model="model.logo" type="url" pattern="^.+$" class="logo" arrow="{down: '.actions'}"/>
	</label>
	<div ng-show="model.logo" class="transparent">
		<img ng-show="model.logo" ng-src="{{ model.logo }}"/>
	</div><br>

	<div class="actions" arrow="{up: '.logo'}" arrows="{on: 'a', left: 'prev', right: 'next'}">
		<a ng-click="save()" class="button primary">Save</a>
		<a ng-click="delete()" class="button">Delete</a>
		<a ng-click="random()" class="button">Random</a>
		<a ng-click="abort()" class="button">Abort</a>
	</div>
	<p ng-show="message" class="message">{{ message }}</p>
</section>
