<section class="project" arrows="{on: 'input,.button', down: 'parent nextAll find input:enabled,.button,.table first', up: 'parent prevAll find input:enabled,.button,.table last', mouse: false}">
	<h1>{{ model.name }}</h1>

	<h2>General</h2>
	<label>
		Name
		<input ng-model="model.name" type="text" autofocus/>
	</label>
	<label>
		Deadline
		<input ng-model="model.deadline" type="date" placeholder="yyyy-MM-dd"/>
	</label>
	<label>
		Agreement
	<input ng-model="model.agreement" type="date" placeholder="yyyy-MM-dd"/>
	</label>
	<label>
		<input ng-model="model.has_finished" type="checkbox" ng-checked="model.finished"/> Finished
		<input ng-model="model.finished" type="date" placeholder="yyyy-MM-dd" ng-disabled="!model.has_finished"/>
	</label>
	<label>
		Description
		<textarea ng-model="model.description" rows="7"></textarea>
	</label>

	<h2>Time</h2>
	<span>
		<a class="button" ng-click="create_time()" tabindex="0">Add time</a>
	</span>
	<span>
		<ul class="table" arrow="{up: '.button', down: '.placeholder'}" arrows="{on: 'li', up: 'prev', down: 'next :not(.ignore)', mouse: false}" relax>
			<li ng-repeat="time in times | orderBy:'start':true">
				<span><span ng-init="elapsed = (time.end.getTime() - time.start.getTime()) / (1000 * 60)">{{ elapsed }}min</span></span>
				<span><input ng-model="time.message" type="text"/></span>
				<span>{{ time.start | date:'yyyy-MM-dd H:mm'}}</span>
				<span>{{ time.end | date:'yyyy-MM-dd H:mm'}}</span>
			</li>
			<li ng-hide="times.length" class="disabled center ignore"><h3>No times yet.</h3></li>
		</ul>
	</span>

	<h2>Invoice</h2>
	<label>
		Placeholder
		<input class="placeholder" type="text" arrow="{down: '.actions'}">
	</label>

	<div class="actions" arrow="{up: '.placeholder'}" arrows="{on: 'a', left: 'prev', right: 'next'}">
		<a ng-click="save()" class="button primary">Save</a>
		<a ng-click="delete()" class="button">Delete</a>
		<a ng-click="random()" class="button">Random</a>
		<a ng-click="abort()" class="button">Abort</a>
	</div>
	<p ng-show="message" class="message">{{ message }}</p>
</section>
