<section class="projects">
	<h1>Projects</h1>
	<div class="tools right">
		<input ng-model="search" type="text" class="search" arrow="{down: 'ul', right: '.button'}" autofocus/>
		<a ng-click="create()" class="button" arrow="{down: 'ul', left: 'input'}" tabindex="0">Create</a>
	</div>

	<p ng-show="message" class="message">{{ message }}</p>

	<ul class="table" arrow="{up: 'input'}" arrows="{on: 'li', up: 'prev', down: 'next', mouse: true}" relax>
		<li ng-repeat="model in models | orderBy:'name' | filter:search">
			<a href="/#/project/{{ model.id }}"><h2>{{ model.name || "Unnamed" }}</h2></a>
			<span class="deadline" title="Deadline">{{ model.deadline || "None" }}</span>
			<span class="agreement" title="Agreement">{{ model.agreement || "None" }}</span>
			<span class="finished" title="{{ model.finished ? 'Finished' : 'Not finished' }}">{{ model.finished || "None" }}</span>
			<span class="value">{{ model.value || 0 }}€</span>
			<span class="hours">{{ model.hours || 0 }} hours</a></span>
			<span ng-show="model.invoice"><a href="/#/invoice/<%= model.invoice %>">Invoice</a></span>
		</li>
		<li ng-hide="models.length" class="disabled center ignore"><h3>No projects yet.</h3></li>
	</ul>
</section>
