{% load staticfiles %}
<html>
<head>
    <title>Login</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="{% static "css/style.css" %} "rel="stylesheet" type="text/css">
</head>
<body>
    <article class="content">
        <h1>Login</h1>
        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}
        <form method="post">
            <input type="text" name="username" placeholder="E-Mail"/>
            <input type="password" name="password" placeholder="Password"/>
            <input type="submit"/>
        </form>
        <p>Got here by mistake? Return to <a href="{% url 'index' %}">public page</a>.</p>
    </article>
</body>
</html>
